<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="student" class="com.imooc.aop.demo7_beanInital.Student" init-method="myinit" destroy-method="mydestroy">
            <property name="name" value="a"/>
    </bean>

    <bean id="myBeanPostProcessor" class="com.imooc.aop.demo7_beanInital.MyBeanPostProcessor"/>
</beans>