<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">
    <import resource="spring-dao.xml"/>
    <!--<context:component-scan base-package="demo11_tx.service.impl"/>-->
    <!--定义事务管理器：事务管理器实现类的选择：取决于持久层使用什么实现
  Spring Jdbc Template选择DataSourceTransactionManager事务管理器，
  那么DataSourceTransactionManager事务管理器，至少要告诉事务管理器你使用的数据源
  是哪个-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--(1)配置要拦截的目标类-->
    <bean id="orderServiceTarget" class="demo11_tx.service.impl.OrderServiceImpl"/>

    <!--(2)配置拦截器-->
    <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <!--事务管理器-->
        <property name="transactionManager" ref="transactionManager"/>
        <!--定义事务传播行为、事务隔离级别、只读等等-->
        <property name="transactionAttributes">
            <props>
                <!--拦截方法：应用事务-->
                <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="query*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <!--(3)将目标对象和拦截器进行关联:用拦截器去增强目标对象，增强后的对象才是我们要用的对象-->
      <bean id="orderService" class="org.springframework.aop.framework.ProxyFactoryBean">
            <property name="target" ref="orderServiceTarget"/>
             <property name="interceptorNames">
                     <list>
                         <idref bean="transactionInterceptor"/>
                     </list>
             </property>
      </bean>



</beans>